
.header-wrapper .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background: #14279B;
    opacity: .1;
}

.header-wrapper .text {
    width: 100%;
    padding-right: 15px;
}

.sub-heading {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: #14279B;
    letter-spacing: 0.1875rem;
}

.slider-text h1 {
    font-weight: 700;
    font-size: 3.75rem;
    color: #000;
}

.typed-text {
    font-size: 2rem;
    color: #14279B;
}